.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.editorArea {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}